<div class="big-bg">
  <header class="page-header wrapper">
    <%= link_to image_tag("logo.jpg", class: :logo), root_path%>
    <nav>
      <ul class="main-nav">
        <li><a href="menu.html">Jobtoraとは?</a></li>
      </ul>
    </nav>
    <% if user_signed_in? %>
      <%= link_to "現在のユーザー: #{current_user.nickname}さん", root_path, class: :user__nickname %></li>
    <% end %>
    <% if user_signed_in? %>
      <div class="login-nav">
        <%= link_to "ログアウト", destroy_user_session_path,  method: :delete, class: :nav__btn %>
        <%= link_to "新規投稿", root_path, class: :nav__btn %> 
      </div>
    <% else %> 
      <div class="login-nav">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
    <% end %>
  </header>

  <div class="menu-content wrapper">
    <h2 class="page-title">Topics</h2>
    <p>
      JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明JobtoraのTopics説明
    </p>
  </div>
</div>

<footer>
  <div class="wrapper">
    <p><small>&copy; Jobtora</small></p>
  </div>
</footer>