<div class="big-bg">
  <header class="page-header wrapper">
    <%= link_to image_tag("logo.jpg", class: :logo), root_path%>
    <nav>
      <ul class="main-nav">
        <li><a href="menu.html">Jobtoraとは?</a></li>
      </ul>
    </nav>
    <% if user_signed_in? %>
      <%= link_to "現在のユーザー: #{current_user.nickname}さん", root_path, class: :user__nickname %></li>
    <% end %>
    <% if user_signed_in? %>
      <div class="login-nav">
        <%= link_to "ログアウト", destroy_user_session_path,  method: :delete, class: :nav__btn %>
        <%= link_to "SPOT投稿", new_spot_path, class: :nav__btn %> 
      </div>
    <% else %> 
      <div class="login-nav">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
    <% end %>
  </header>

  <div class="menu-content wrapper">
    <h3 class="page-title">Jobtoraで新しい働き方探しに行こう</h3>
    <%# <p class="sub-title">
      こんな時代だからこその新しい働き方、こんな状況だからこその楽しみ方見つけて見ない？
    </p> %>
  </div>
</div>

<%# SPOT一覧 %>
<div class="spot-title">
  <h3>NEW SPOT LIST</h3>
</div>
<div class="spot-lists">
  <% @spots.each do |spot| %>
    <li class="list">
      <%= link_to spot_path(spot.id), method: :get do %>
        <div class="spot-imag-content">
          <%= image_tag spot.image, class:"spot-img" if spot.image.attached? %>
        </div>
        <div class="spot-info">
          <p class="spot-date"><%= spot.name %></p>
          <p class="spot-date"><%= spot.place.name %></p>
          <p class="spot-date"><%= spot.explanation %></p>
        <div>
      <% end %>
    </li>
  <% end %>
</div>
<%# SPOT一覧 %>

<%= render partial: "footer" %>