<%= render partial: "header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @spot.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @spot.image ,class:"item-box-img" %>
    </div>

    <% if current_user == @spot.user %> 
      <%= link_to '編集', edit_spot_path(@spot.id), method: :get, class: "item-red-btn" %>
      <%= link_to '削除', spot_path(@spot.id), method: :delete, class:'item-destroy' %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @spot.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= @spot.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= @spot.place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">説明</th>
          <td class="detail-value"><%= @spot.explanation %></td>
        </tr>
        <tr>
          <th class="detail-item">プラン</th>
          <td class="detail-value"><%= @spot.plan %></td>
        </tr>
        <tr>
          <th class="detail-item">wifi(通信状況)</th>
          <td class="detail-value"><%= @spot.wifi.name %></td>
        </tr>
        <tr>
          <th class="detail-item">予算</th>
          <td class="detail-value"><%= @spot.budget %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: "footer" %>