<div class="container">
  <h2>新規会員情報入力</h2>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例) jobtora太郎", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名前</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :last_name, class:"input-default", id:"last_name", placeholder:"苗字  例) 山田" %>
      <%= f.text_field :first_name, class:"input-default", id:"first_name", placeholder:"名前  例) 太郎" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">年齢</label>
      </div>
      <%= f.text_field :age, class:"input-default", id:"age", placeholder:"例) 20" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"例) 〇〇@gmail.com", autofocus: true %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス(確認用)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
    </div>

    <div class="form-group">
      <%= f.submit "新規登録", class:"register-btn" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
